<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="connection.url">jdbc:mysql://localhost:3306/trainingtracker</property>
        <property name="connection.username">
            felicia
        </property>
        <property name="connection.password">
            Dodgers4
        </property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="Exercise.hbm.xml" />
        <mapping class="com.feliciadurni.tt.entity.Exercise"/>
        <mapping resource="Person.hbm.xml" />
        <mapping class="com.feliciadurni.tt.entity.Person"/>
        <mapping resource="PersonRole.hbm.xml"/>
        <mapping class="com.feliciadurni.tt.entity.PersonRole"/>
        <mapping resource="Program.hbm.xml"/>
        <mapping class="com.feliciadurni.tt.entity.Program"/>
        <mapping resource="Routine.hbm.xml"/>
        <mapping class="com.feliciadurni.tt.entity.Routine"/>
        <mapping resource="RoutineExercise.hbm.xml"/>
        <mapping class="com.feliciadurni.tt.entity.RoutineExercise"/>
    </session-factory>
</hibernate-configuration>